{% extends 'base.html' %}

{% block content %}

  <div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
      <script type="text/javascript">

Kakao.init(''); // 초기화

Kakao.Link.createDefaultButton({
    container: '#create-kakao-link-btn',
    objectType: 'feed',
    content: {
      title: '{{ target_gallery.title }}',
      description: '#wind4sns #{{ target_gallery.title }}',
      imageUrl:
        'https://edit11020211.net{{ target_gallery.image.url }}',
      link: {
        mobileWebUrl: 'https://3zzal.com/projects/detail/' + '{{target_gallery.pk}}',
        webUrl: 'https://3zzal.com/projects/detail/' + '{{target_gallery.pk}}' ,
      },
    },
    social: {
      likeCount: 286,
      commentCount: 45,
      sharedCount: 845,
    },
    buttons: [
      {
        title: '웹으로 보기',
        link: {
          mobileWebUrl: 'https://edit11020211.net/projects/detail/' + '{{target_gallery.pk}}',
          webUrl: 'https://edit11020211.net/projects/detail/' + '{{target_gallery.pk}}',
        },
      },
      {
        title: '앱으로 보기',
        link: {
          mobileWebUrl: 'https://edit11020211.net/projects/detail/' + '{{target_gallery.pk}}',
          webUrl: 'https://edit11020211.net/projects/detail/' + '{{target_gallery.pk}}',
        },
      },
    ],
  })
</script>


      <img src="{{ target_gallery.image.url }}" alt=""
           style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
        <p>갤 매니져: <strong style="font-size: 2rem;">{{ target_gallery.writer }}</strong></p>

      {% if target_gallery.writer == request.user %}
      <a title="갤러리수정" href="{% url 'galleryapp:update' pk=target_gallery.pk %}" class="material-icons gall_edit" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: 0.4rem;">
        edit
      </a>
      {% endif %}

      <h2 style="font-weight:bold;">
        {{ target_gallery.title }}
      </h2>
      <br /><br />
      <h5 style="margin-bottom:3rem;">
        {{ target_gallery.description }}
      </h5>
      <!-- subscibeapp model로 부터 -->

      <!-- articleapp 의 model로 부터 -->
      <span style="font-size: 0.9rem; letter-spacing: 0.01rem;">구독자 <strong style="font-size: 1.3rem;">{{ target_gallery.subscription.count }}</strong> 명 </span>&nbsp;|
      <span style="font-size: 0.9rem; letter-spacing: 0.01rem;">게시물 <strong style="font-size: 1.3rem;">{{ target_gallery.article.count }}</strong> 개 </span>

      <div class="text-center mb-5">
        {% if user.is_authenticated %}
          {% if not subscription %}
          <!-- 구독 중이 아니라면 http 겟 요청으로 ?gallery_pk 의 값인 target_gallery.pk 넘겨줌   -->
          <a href="{% url 'subscribeapp:subscribe' %}?gallery_pk={{ target_gallery.pk}}" class="btn btn-primary rounded-pill px-4">
            구독
          </a>
          <!-- 구독 중이라면 같은 위치로 GET요청으로 정보를 넘겨줌-->
          {% else %}
          <a href="{% url 'subscribeapp:subscribe' %}?gallery_pk={{ target_gallery.pk}}" class="btn btn-secondary rounded-pill px-4">
             구독취소
          </a>
          {% endif %}
        {% endif %}

     </div>

      <!-- object_list = Article.objects.filter(gallery=self.get_object()) -->
      <div>
        {% include 'piece/list_fragment.html' with article_list=object_list  %}
      </div>

      <div style="text-align: center">
        <a href="{% url 'articleapp:create' %}?gallery_pk={{ target_gallery.pk }}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
            게시글 생성
        </a>
      </div>

    </div>
  </div>

{% endblock %}