{% extends 'base.html' %}

{% block content %}

  <div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
      <img src="{{ target_gallery.image.url }}" alt=""
           style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
      <h2 style="font-weight:bold;">
        {{ target_gallery.title }}
      </h2>
      <br /><br />
      <h5 style="margin-bottom:3rem;">
        {{ target_gallery.description }}
      </h5>

    </div>
  </div>

{% endblock %}