{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- 아티클앱의 list.html 을 그대로 가져옴 그러나 몇가지 이름만 바꿔줌 -->
<!-- 아태클앱의 container a 의 값은 삭제 -->
<!-- 아태클앱의 container img 의 값 픽셀지정 -->
<!-- 오브젝핏 커버는  그사이즈 안에있는것 빼고는 다 짤라내지는 형식으로 구현이됨 -->
<style>

    .container {
        padding: 0;
        margin: 0, auto;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 1rem;
    }

    .container img {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
      border-radius: 1rem;
    }

</style>
    {% if gallery_list %}
    <div class="container">
        {% for gallery in gallery_list %}
        <a href="{% url 'galleryapp:detail' pk=gallery.pk %}">
            {% include 'piece/card_gallery.html' with gallery=gallery %}
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
        <h1>No Gallery YET!</h1>
    </div>
    {% endif %}

    {% include 'piece/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center">
        <a href="{% url 'galleryapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
            Create Gallery
        </a>
    </div>

{% endblock %}