.window4sns_logo {
    font-family: 'Lobster', cursive;
}

.window4sns_footer_button {
    font-size: 0.6rem;
}

.window4sns_footer {
    text-align:center;
    margin-top: 2rem;
}

.window4sns_header {
    text-align:center;
    margin: 2rem 0;
}