@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.window4sns_logo {
    font-family: 'Lobster', cursive;
}

.window4sns_footer_button {
    font-size: 0.6rem;
}

.window4sns_footer {
    text-align:center;
    margin-top: 2rem;
}

.window4sns_header {
    text-align:center;
    margin: 2rem 0;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}


.window4sns_header_nav {
    margin: 0 0.5rem;
}


.window4sns_header_navbar {
    margin: 1rem 0;

}