<div  class="window4sns_header">
    <div>
        <a href="/">
            <h1 class="window4sns_logo"><span style="font-family: 'Noto Sans KR', sans-serif;">중소기업</span>SNS__3zzal.com</h1>
        </a>

    </div>
    <div>
        <a href="{% url 'articleapp:list'%}?st=hot">
            <span>
                hit게시글
            </span>
        </a>
        <a href="{% url 'galleryapp:list' %}" class="window4sns_header_nav">
            <span>
                갤러리
            </span>

        </a>
        <a href="{% url 'subscribeapp:list' %}"  class="window4sns_header_nav">
            <span>
                구독리스트
            </span>
        </a>
        {% if not user.is_authenticated %}
        <!-- ?next 파라미터의 값 즉 현재위치로 리다이렉트 -->
              <a href="{% url 'accountapp:create' %}">
                <span>
                    SignUp
                </span>
              </a>
        <!--그 자리에서 로그인,  그 후에도 그 자리로 로딩-->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>
                    Login
                </span>
            </a>


        {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{ request.path}}">
                <span>
                     Logout
                </span>
            </a>
             <a href="{% url 'accountapp:detail'  pk=user.pk %}">
                <span>
                    My Page
                </span>
            </a>
        {% endif %}
    </div>
</div>