<div  class="window4sns_header">
    <div>
        <h1 class="window4sns_logo">3zzal.com</h1>
    </div>
    <div>
        <a href="{% url 'articleapp:list'%}">
            <span>
                게시글
            </span>
        </a>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
        <!-- ?next 파라미터의 값 즉 현재위치로 리다이렉트 -->
              <a href="{% url 'accountapp:create' %}">
                <span>
                    SignUp
                </span>
              </a>
        <!--그 자리에서 로그인,  그 후에도 그 자리로 로딩-->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>
                    Login
                </span>
            </a>


        {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{ request.path}}">
                <span>
                     Logout
                </span>
            </a>
             <a href="{% url 'accountapp:detail'  pk=user.pk %}">
                <span>
                    My Page
                </span>
            </a>
        {% endif %}
    </div>
</div>