{% extends 'base.html' %}


{% block content %}
  <div>
    <h1 style="text-align: center;">
      <a class="btn btn-dark" style="display:block; max-width:500px; margin: -17px auto 0px auto" href="{% url 'galleryapp:detail' pk=target_article.gallery.pk %}">
        {{ target_article.gallery.title }}
      </a>


    </h1>
    {% for message in messages %}
      <div class="text-center">
          <div class="btn btn-{{ message.tags }} rounded-pill px-5 my-3">
              {{ message }}
          </div>
      </div>
    {% endfor %}

    <div style="text-align: center; max-width: 850px; margin: 4rem auto;">
      <h1>
        {{ target_article.title }}
      </h1>
      <div style="height: 2rem;">
        <a href="{% url 'likeapp:article_like' pk=target_article.pk %}">
          <i class="material-icons" style="color: #f77; font-size: 1.2rem; vertical-align: middle;">
            favorite
          </i>
          <span style="vertical-align: middle; font-size: 1.2rem;">
            {{ target_article.like}}
          </span>
        </a>

      </div>

      <img width="100%" src="{{ target_article.image.url }}" alt="">

      <p>
        {{ target_article.content | safe }}
      </p>
      <!-- 게시글 작성자가 진짜 작성한 유저인지 검증라인 -->
      {% if target_article.writer == request.user %}

      <a title="수정" style="box-shadow: 0 0 4px #ccc; border-radius: 50%; padding: 0.4rem;" class="material-icons" href="{% url 'articleapp:update' pk=target_article.pk %}">
        edit
      </a>
      &nbsp;
      <a title="삭제" style="box-shadow: 0 0 4px #ccc; border-radius: 50%; padding: 0.4rem;"class="material-icons" href="{% url 'articleapp:delete' pk=target_article.pk %}">
        cancel
      </a>

      {% endif %}

      {% for comment in target_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
      {% endfor %}

    {% include 'commentapp/create.html' with article=target_article %}

    </div>



  </div>
{% endblock %}