{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
    .container div {
    width: 250px;

    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  .container img {
    width: 100%;
    border-radius: 1rem;
  }


</style>



    {% if article_list %}
    <div class="container">
        {% for article in article_list %}
        <a href="{% url 'articleapp:detail' pk=article.pk %}">
            {% include 'piece/card.html' with article=article %}
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center">
        <h1>게시글이 없습니다.</h1>
    </div>
    {% endif %}
<!-- "=" 기준으로 오른쪽에 있는 page_obj 는 ListView 로부터 나온 page_obj 이고  -->
    <!-- "=" 기준으로 왼쪽에 있는 page_obj 는 piece/pagination.html 에 있는 page_obj 이다.  -->
    {% include 'piece/pagination.html' with page_obj=page_obj %}




    <div style="text-align: center">
        <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill  mt-3 mb-3 px-3">
            Create Article
        </a>
    </div>





  <script src="{% static 'js/magicGrid.js' %}"></script>


{% endblock %}